<h1>Fetch Achternaam</h1>
<form id="email-form">
  <label for="user-email">Email:</label>
  <input id="input--sections--21194190717258__footer--contactemail" class="input" type="email" dir="ltr" name="contact[email]" placeholder="E-mailadres" autocomplete="email" enterkeyhint="send" required="">
  <button type="submit">Submit</button>
</form>
<p id="achternaam-display">&nbsp;</p>
